.error-message{
    color: rgb(240, 97, 97);
}
input{
    background-color: rgb(250, 157, 157);
}
.cart-item {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
