.additional-info-container {
    display: flex; /* 横並びにするためのflexbox */
    gap: 20px; /* 情報1と情報2の間隔 */
}

.info-table {
    border-collapse: collapse; /* テーブルのボーダーを重ねる */
}

.info-table td {
    border: 1px solid #000; /* ボーダーのスタイル */
    padding: 5px; /* パディングを追加 */
}

.datetime-input .info-table{
    margin-top: 39px;
}

.button-container {
    display: flex; /* フレックスボックスで横並び */
    gap: 10px; /* ボタン間のスペース */
}

.info-table {
    width: 100%; /* 幅を100%に設定 */
    border-collapse: collapse; /* ボーダーの重なりを防ぐ */
    margin-top: 20px; /* 上のマージンを追加 */
}

.info-table td {
    border: 1px solid #ccc; /* ボーダーの色とスタイル */
    padding: 10px; /* セル内のパディング */
    text-align: left; /* 左揃え */
}

.info-table td:nth-child(1) {
    background-color: #ffead7;
    font-weight: bold; /* 太字 */
}

.info-table tr:hover {
    background-color: #f1f1f1; /* ホバー時の背景色 */
}

.button-container {
    display: flex; /* フレックスボックスで横並び */
    gap: 10px; /* ボタン間のスペース */
    margin-top: 20px; /* 上のマージンを追加 */
}

.back-button, .confirm-button {
    background-color: orange; /* ボタンの背景色 */
    color: rgb(0, 0, 0); /* ボタンの文字色 */
    border: 1px solid black; /* 枠の色と太さ */
    border-radius: 10px; /* 角を丸くする */
    padding: 10px 20px; /* パディング */
    cursor: pointer; /* カーソルをポインターに */
    font-size: 16px; /* フォントサイズ */
    transition: background-color 0.3s; /* ホバー時のトランジション */
}

.back-button:hover, .confirm-button:hover {
    background-color: darkorange; /* ホバー時の背景色 */
}