.reservation-inputs input {
    width: 50%; /* 幅を100%に設定 */
    height: 40px; /* 高さを40pxに設定 */
    margin-top: 10px; /* 上部に少しの余白を追加 */
}

.availability-info {
    display: none; /* 初期状態は非表示 */
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}